		body{
			width: 100%;
			height: 100%;
			margin: 0px;
			background-image: url('leader.jpeg');
			background-repeat: no-repeat;
			background-size: cover;
			background-repeat: no-repeat;
		}
		#top1{
			font-size: 3rem;
			width: 100%;
			text-align: center;
			color: white;
		}
		#top2{
			font-size: 2rem;
			width: 100%;
			text-align: center;
			margin-top: 2%;
			color: blue;
		}
		#leader{
			font-size: 2rem;
			width: 30%;
			margin-left: 10%;
			color: white;
			position: absolute;
			right: 3%;
			margin-top: 3%;
			top: 30%;
		}
		.head{
			font-size: 2rem;
			text-align: center;
			color: white;
		}
		#lead{
			font-size: 3rem;
			width: 30%;
			text-align: center;
			position: absolute;
			color: white;
			right: 10%;
			top: 25%;

		}
		#append{
			font-size: 1.5rem;
			margin: 5%;
			color: white
		}
		#logout{
			font-size: 2rem;
			margin: 3%;
		}
		.question{
			width: 30%;
		}