<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="/css/style5.css">
</head>
<body>
	<button id="logout" onclick="logout()">Logout</button>
	<div id="head">
		You are {{user}}
	</div>
	<form action="/admin" method="POST">
		<input type="test" name="question" placeholder="Enter a question...." id="ques">
		<input type="text" name="answer" placeholder="Enter answer..." id="ans">
		<input type="submit" name="submit" id="submit">
	</form>
	<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
	<script type="text/javascript">
		function logout(){
				$.ajax({
					type: 'POST',
					url: '/logout',
					success:function(abc){
						window.location.replace("/");

					}
				});
			}
	</script>
</body>
</html>